<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.areeb.supertextiles">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperTextiles">
        <activity android:name=".activities.AddBillActivity" />
        <activity
            android:name=".activities.EditCustomerActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".activities.ViewCustomerActivity" />
        <activity
            android:name=".activities.AddCustomerActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".activities.EditReportActivity" />
        <activity android:name=".activities.ViewReportActivity" />
        <activity android:name=".activities.EditBillActivity" />
        <activity android:name=".activities.ViewBillActivity" />
        <activity android:name=".activities.ChallanDetailsActivity" />
        <activity
            android:name=".activities.AddMetersActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.AddChallanActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".activities.AboutUs" />
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="stateVisible" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>